.cta{
    background-color: var(--foreground);
}
.cta .overlay{
    background-color: var(--background);
    height: 6rem;
}
.cta .container{
    margin-top: -6rem;
}
.cta .area{
    margin: 0 2rem;
    padding: 4rem;
    background-color: var(--primary);
    color: var(--primary-foreground);
    border-radius: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
} eay bom dia apenas para os brats alguem avisa